.container
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: aqua;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background-color: brown;

    
}


